
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #fcfcfc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.login-container {
    background-color: #c01c1c;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}


form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    text-align: left;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #c8ef4a;
    color: #000;
    font-family: 'poppins', sans-serif;
    font-weight: bold;
    transition: 0.3s;
}


.social-login {
    margin-top: 20px;
}

.social-btn {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.social-btn.facebook {
    background-color: #3b5998;
    color: white;
}

.social-btn.google {
    background-color: #5dfa02;
    color: white;
}

.social-btn:hover {
    opacity: 0.8;
}

p {
    margin-top: 10px;
}
